<div id="carousel-generic" {{ attributes.addClass(classes) }} data-ride="carousel">
  <div class="carousel-inner" role="listbox">
     {% for row in rows %}
     <div class="item {% if loop.first %}active{% endif %}">
        {{row.image}}
        <div class="carousel-caption">
          {{row.caption}}
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>
</div>
